In [0]:
%sql
SELECT
  order_date,
  customer_id,
  CAST(amount AS SMALLINT) AS amount
FROM
  orders;

In [0]:
_sqldf.plot(kind="bar", x="customer_id", y="amount")

In [0]:
%sql
MERGE INTO orders AS target
USING (
  SELECT 
    order_id,
    order_date,
    customer_id,
    amount
  FROM (
    VALUES
      (1, '2025-06-25', 101, 100.00),
      (2, '2025-06-26', 102, 150.00),
      (3, '2025-06-27', 103, 200.00)
  ) AS orders(order_id, order_date, customer_id, amount)
) AS source
ON target.order_id = source.order_id
WHEN MATCHED THEN
  UPDATE SET target.order_date = source.order_date, target.customer_id = source.customer_id, target.amount = source.amount
WHEN NOT MATCHED THEN
  INSERT (order_id, order_date, customer_id, amount) VALUES (source.order_id, source.order_date, source.customer_id, source.amount);

In [0]:
%sql
SELECT * FROM _sqldf