In [0]:
-- Fact table
CREATE OR REPLACE TABLE sales (
  sale_id     INT,
  country_id  INT,
  amount      DECIMAL(18,2)
);

INSERT INTO sales VALUES
  (1, 1, 10000.00);

-- Dimension table with duplicate PK on purpose
CREATE OR REPLACE TABLE countries (
  country_id    INT PRIMARY KEY,
  country_name  STRING,
  timestamp     TIMESTAMP
);

ALTER TABLE sales ADD CONSTRAINT sales_countries_fk FOREIGN KEY (country_id) REFERENCES countries (country_id) NOT ENFORCED;

INSERT INTO countries VALUES
  (1, 'Czech Republic', '2024-06-01 12:00:00'),
  (1, 'Czechia', '2024-06-02 12:00:00');

In [0]:
SELECT * FROM sales;

In [0]:
SELECT * FROM countries;

In [0]:
-- Row-level inflation: one row becomes two
SELECT
  country_name,
  amount
FROM sales s
LEFT JOIN countries c
  ON s.country_id = c.country_id;

-- Metric inflation: 10000 becomes 20000
SELECT
  SUM(s.amount) AS inflated_sales
FROM sales s
LEFT JOIN countries c
  ON s.country_id = c.country_id;